body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #333333;
}
a:hover {
    text-decoration: underline;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    margin: 4px 3px 0 0;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 4px;
}
.button-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.button-success:hover,
.button-success:active,
.button-success:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.button-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.button-danger:hover,
.button-danger:active,
.button-danger:focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

body {
    margin: 0px;
    padding: 0px;

  .page {
    max-width: 1100px;
    margin: 20px auto 0 auto;
  }

  .header {
    height: 100px;
    border-bottom: 2px solid #D3D3D3;
    background-image: url('../../images/fon_header.png');
    background-repeat: repeat-x;
    margin: 0px;
    padding: 10px;
  }
  
  .header h1 {
    max-width: 1100px;
    margin: 20px auto;
    font-size: 36px;
    font-weight: normal;
    padding: 0;
  }
  
  .toolbar {
    margin-bottom: 20px;
    width: 100%;

    .toolbar-left {
      width: auto;
      float: left;
    }
    .toolbar-right {
      width: auto;
      float: right;
    }
    
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  .search-input {
    input {
      height: 34px;
      width: 500px;
      padding: 6px 12px;
      
      border: 1px solid #ccc;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      
        
      
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
    
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      
      z-index: 1;
      position: relative;
    }
    input:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }
    
    button {
      background-color: #ffffff;

      border: 1px solid #adadad;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;

      color: #333;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      
      position: relative;
      z-index: 2;
      margin-left: -1px;
      top: -1px;
    }
    button:active,
    button:hover,
    button:focus {
      background-color: #e6e6e6;
    }
  }
  
  
  table {
    border: 1px solid #DDD;
    background-color: #ffffff;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 1.05em;
    border-collapse: collapse;
    
    th, td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }
    
    tr:nth-child(odd) td,
    tr:nth-child(odd) th {
      background-color: #f9f9f9;
    }
    
    tr:hover td {
      background-color: #f5f5f5;
    }
    
    th.textLeft,
    td.textLeft {
      text-align: left;
    }
    th.textRight,
    td.textRight {
      text-align: right;
    }
  }
  
  .book-name {
      margin: 20px 0;
      text-align: center;
      font-size: 24px;
  }
  
    .add-book-form {
        input[type="text"],
        textarea {
            font-family: inherit;
            display: block;
            width: 100%;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    }
    .add-book-form__left {
        width: 33.33%;
        float: left;
        box-sizing: border-box;
        padding: 0 20px;
    }
    .add-book-form__right {
        width: 66.67%;
        float: right;
        box-sizing: border-box;
    }
    .add-book-form__group {
        margin-bottom: 20px;
    }
    .add-book-form__hidden-group {
        display: none;
    }

    .pdf-viewer {
        border: 1px solid #cccccc;
        padding-bottom: 0;
        margin-bottom: 0;
        height: 542px;
        position: relative;
    }
    .pdf-viewer__toolbar {
        padding: 10px 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 17px);
        box-sizing: border-box;
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 78%,rgba(255,255,255,0) 100%);
    }
    .pdf-viewer__nav-button {
        z-index: 100;
        padding: 0;
        box-sizing: border-box;
        display: block;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        cursor: pointer;
        margin-left: 10px;
        float: left;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        height: 35px;
        width: 95px;
    }
    .pdf-viewer__nav-button_wide {
        width: 150px;
    }
    .pdf-viewer__nav-button:first-child {
        margin-left: 0;
    }
    .pdf-viewer__nav-button:hover {
        background-color: #eeeeee;
    }
    .pdf-viewer__pages {
        padding: 3px 10px;
        margin-left: 10px;
        float: left;
        flex: 100 0 auto;
        text-align: center;
    }
    .pdf-viewer__pages input[type="text"] {
        width: 40px;
        text-align: right;
        border: none;
        padding: 4px;
        margin-left: 6px;
        margin-right: 3px;
        font-family: inherit;
        font-size: inherit;
        box-shadow: none;
        display: inline;
        border: 1px solid #ececec;
    }
    
    .pdf-viewer__pages > span {
        margin-right: 6px;
    }

    .pdf-viewer__scale {
        padding: 3px 10px;
        margin-left: 10px;
        float: left;
        flex: 100 0 auto;
        text-align: center;
    }
    .pdf-viewer__scale input[type="text"] {
        width: 40px;
        text-align: center;
        border: none;
        padding: 4px;
        font-family: inherit;
        font-size: inherit;
        box-shadow: none;
        display: inline;
        border: 1px solid #ececec;
        margin: 0 6px;
    }
    .pdf-viewer__pages button,
    .pdf-viewer__scale button {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 15px;
        height: 24px;
        width: 24px;
        font-weight: bold;
        outline: none;
    }
    .pdf-viewer__pages button:hover,
    .pdf-viewer__scale button:hover {
        background-color: #eeeeee;
    }
    
    .pdf-viewer__content {
        overflow-y: auto;
        overflow-x: auto;
        height: 100%;
        width: 100%;
    }
}