/* global styles */

@import 'fonts/roboto';
@import 'typography';
@import 'links';

:global(body) {
    margin: 0px;
    padding: 0px;

  .page {
    max-width: 1100px;
    margin: 0 auto;
  }

  .header {
    height: 100px;
    border-bottom: 2px solid #D3D3D3;
    background-image: url('../../../../images/fon_header.png');
    background-repeat: repeat-x;
    margin: 0px;
    padding: 10px;
  }
  
  .header h1 {
    max-width: 1100px;
    margin: 20px auto;
    font-size: 36px;
    font-weight: normal;
    padding: 0;
  }
}
